{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}
<div class = "title">
    <h1>Solicitudes de cambio de credenciales</h1>
</div>
{% endblock %}

{% block graphs %}

<div class="tablas_main">

    <!--Lista de usuarios-->
    <div class="lista_usuarios">
        <h3> Solicitudes de cambio de nombre </h3>
        <div class="fondo_tablas">
            
            <table class="styled-table">
                <thead>
                    <th>N° </th>
                    <th>Nuevo nombre </th>
                    <th>Estatus </th>
                    <th>Usuario N° </th>
                    <th> </th>
                    
                </thead>
                <tbody>
                    {% for solicitudN in solicitudesN %}
                    <tr>
                        <td>{{solicitudN.solicitudNID}}</td>
                        <td>{{solicitudN.nombre}}</td>
                        <td>{{solicitudN.estatus}}</td>
                        <td>{{solicitudN.usuarioID_id}}</td>
                        <td>
                            <a href="{% url 'cambiar_nombre' usuarioID_id=solicitudN.usuarioID_id nombre=solicitudN.nombre solicitudNID=solicitudN.solicitudNID %}">Cambiar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

    <!--Lista de usuarios-->
            <div class="lista_usuarios">
                <h3> Solicitudes de cambio de contraseña </h3>   
                <div class="fondo_tablas">
                    
                    <table class="styled-table">
                        <thead>
                            <th>N° </th>
                            <th>Nueva contraseña </th>
                            <th>Estatus </th>
                            <th>Usuario N° </th>
                            <th> </th>
    
                        </thead>
                        <tbody>
                            {% for solicitudC in solicitudesC %}
                            <tr>
                                <td>{{solicitudC.solicitudCID}}</td>
                                <td>{{solicitudC.contrasenia}}</td>
                                <td>{{solicitudC.estatus}}</td>
                                <td>{{solicitudC.usuarioID_id}}</td>
    
                                <td>
                                    <a href="{% url 'cambiar_contrasenia' usuarioID_id=solicitudC.usuarioID_id contrasenia=solicitudC.contrasenia solicitudCID=solicitudC.solicitudCID %}">Cambiar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
</div>
{% endblock %}
