{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles2.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="dashboard">
        {% include 'sidebar.html' %}
        {% include 'topbar.html' %}
    </div>
    {% block title %}{% endblock %}
    {% block graphs %}
    {% block first %}{% endblock %}
    {% block second %}{% endblock %}
    {% block third %}{% endblock %}
    {% block fourth %}{% endblock %}
    {% endblock %}
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
