{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}
<div class = "title">
    <h1>General</h1>
</div>

{% endblock %}

{% block graphs %}
<div class="subtitle">
    <h2 > Estadisticas de usuarios </h2>
</div>


<div class="graphs">
    
    <div class = "graph">
        <canvas id="gender"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% block first %}
        <script src="{% static 'js/gender.js' %}"></script>
        {% endblock %}
    </div>

    <div class = "graph">
        <canvas id="age"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% block second %}
        <script src="{% static 'js/age.js' %}"></script>
        {% endblock %}
    </div>

    <div class = "graph">
        <canvas id="avance"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        {% block third %}
        <script src="{% static 'js/avance.js' %}"></script>
        {% endblock %}
    </div>
</div>


<h1>Resultados encuesta inicial</h1>
<div class = "stats">
    <div>
        <h2 style="margin-left: 20px"> Perfil de Emprendedor Social </h2>
        <div class="general-graph">
            <div class = "graph">
                <canvas id="general"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                {% block fourth %}
                <script src="{% static 'js/general.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </div>
    <div>
        <h2 style="margin-left: 20px"> Pensamiento Complejo </h2>
        <div class="general-graph">
            <div class = "graph">
                <canvas id="pensamiento"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                {% block fifth %}
                <script src="{% static 'js/pensamiento.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<h1>Resultados encuesta final</h1>
<div class = "stats">
    <div>
        <h2 style="margin-left: 20px"> Perfil de Emprendedor Social </h2>
        <div class="general-graph">
            <div class = "graph">
                <canvas id="generalfinal"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                {% block sixth %}
                <script src="{% static 'js/generalfinal.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </div>
    <div>
        <h2 style="margin-left: 20px"> Pensamiento Complejo </h2>
        <div class="general-graph">
            <div class = "graph">
                <canvas id="pensamientofinal"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                {% block seventh %}
                <script src="{% static 'js/pensamientofinal.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class= "general-data" style="margin-left: 260px">
    <div class = "data-block-1">
        <h2>Usuarios</h2>
        <h3>Usuarios registrados: {{ num_usuarios }}</h3>

    </div>
    <div class = "data-block-2">
        <h2>Retroalimentación</h2>
        <h3>{{ usuarios_done }} usuarios esperan retroalimentación</h3>
    </div>
    <div class = "data-block-3">
        <h2>Cambios</h2>
        <h3>Existen {{ cambios }} cambios por aprobar</h3>
    </div>
</div>
{% endblock %}
