{% extends 'dashboard/dashboard_base.html' %}

{% block hola %}
<div class="graphs">
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
     const ctx = document.getElementById('myChart');

     fetch('/api/users/')
         .then(response => response.json())
         .then(data => {
             let maleCount = 0;
             let femaleCount = 0;
             let otherCount = 0;

             // Loop para contar genero
             data.forEach(user => {
                 if (user.genero === "Masculino") {
                     maleCount++;
                 } else if (user.genero === "Femenino") {
                     femaleCount++;
                 } else {
                     otherCount++;
                 }
             });

             new Chart(ctx, {
                 type: 'bar',
                 data: {
                     labels: ['Masculino', 'Femenino', 'Otro'],
                     datasets: [{
                         label: 'Género',
                         data: [maleCount, femaleCount, otherCount],
                         borderWidth: 1
                     }]
                 },
                 options: {
                     scales: {
                         y: {
                             beginAtZero: true
                         }
                     }
                 }
             });
         });
    </script>
</div>
{% endblock %}
