{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block title %}
<h1 style="font-size: 64px; margin-left: 260px; margin-top: 100px">{{ nombre }}</h1>
{% endblock %}

{% block graphs %}
<h2 style="margin-left: 290px;">Encuesta inicial</h2>
<div class="stats">
    <div>
        <h2 style="margin-left: 20px">Resultados de Perfil de Emprendedor Social</h2>
        <div class="general-graph">
            <div class="graph">
                <canvas id="usuario"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <div id="data" data-id="{{ ID }}"></div>
                {% block first %}
                <script src="{% static 'js/usuario.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </div>
    <div>
        <h2 style="margin-left: 20px">Resultados de Pensamiento Complejo</h2>
        <div class="general-graph">
            <div class="graph">
                <canvas id="usuariopc"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <div id="datos" data-id="{{ ID }}"></div>
                {% block second %}
                <script src="{% static 'js/usuariopc.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<h2 style="margin-left: 290px;">Encuesta Final</h2>
<div class="stats">
    <div>
        <h2 style="margin-left: 20px">Resultados de Perfil de Emprendedor Social</h2>
        <div class="general-graph">
            <div class="graph">
                <canvas id="usuariofinal"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <div id="datos" data-id="{{ ID }}"></div>
                {% block third %}
                <script src="{% static 'js/usuariofinal.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </div>
    <div>
        <h2 style="margin-left: 20px">Resultados de Pensamiento Complejo</h2>
        <div class="general-graph">
            <div class="graph">
                <canvas id="usuariopcfinal"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <div id="datos" data-id="{{ ID }}"></div>
                {% block fourth %}
                <script src="{% static 'js/usuariopcfinal.js' %}"></script>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="stats">
    <div class="titulosycont">
        <h2>Encuesta Perfil Emprendedor Social</h2>
        <div class="fondo_tablas">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Pregunta</th>
                        <th>Respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for respuesta in respuestasEI %}
                        <tr>
                            <td>Pregunta {{ respuesta.numero }}</td>
                            <td>{{ respuesta.respuesta }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="titulosycont">
        <h2>Encuesta Pensamiento Complejo</h2>
        <div class="fondo_tablas">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Pregunta</th>
                        <th>Respuesta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for respuesta in respuestasPC %}
                        <tr>
                            <td>Pregunta {{ respuesta.numero }}</td>
                            <td>{{ respuesta.respuesta }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
