{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block graphs %}
<div class="tablas_main">
    <div class="fondo_tablas">
        <div class="lista_usuarios">
            <h1> Lista de Usuarios</h1>
            <table>
                <thead>
                    <th>UsuarioID </th>
                    <th>Nombre </th>
                    <th>Email </th>
                    <th>Avance </th>
                    <th>Genero </th>
                    <th>Edad </th>
                    <th>País </th>
                    <th>Institución </th>
                    <th>Grado  </th>
                    <th>Disciplina  </th>

                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.usuarioID}}</td>
                        <td><a href="/dashboard/usuario/{{usuario.usuarioID}}">{{usuario.nombre}}</a></td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.avance}}</td>
                        <td>{{usuario.genero}}</td>
                        <td>{{usuario.edad}}</td>
                        <td>{{usuario.pais}}</td>
                        <td>{{usuario.institucion}}</td>
                        <td>{{usuario.grado}}</td>
                        <td>{{usuario.diciplina}}</td>
                        <td>
                            <a href="{% url 'actualizar_usuario' pk=usuario.usuarioID %}">Editar</a>
                            <a href="{% url 'borrar_usuarios' usuario.usuarioID %}">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        <div class="creacion">
            <form action="{% url 'crear_Usuario' %}" method="get">
                <button type="submit"> Agregar usuario</button>
            </form>
        </div>
</div>
{% endblock %}
