{% load static %}
<!-- Sidebar -->
<div class="sidebar">
    <div class="logo_ds">
        <img src="{% static 'img/IFT.png' %}" alt="Logo">
    </div>
    <ul class="menu">
        <li class="menu-item" href="#">
            <a href="/dashboard/general">General</a>
            <ul class="submenu">
                <li class="submenu-item">Sub Opción 1.1</li>
                <li class="submenu-item">Sub Opción 1.2</li>
            </ul>
        </li>
        <li class="menu-item" href="#">
            <a href="{% url 'usuarios' %}">Usuarios</a>
            <ul class="submenu">
                <li class="submenu-item">Sub Opción 2.1</li>
                <li class="submenu-item">Sub Opción 2.2</li>
            </ul>
        </li>
        <li class="menu-item" href="#">
            <a href="/dashboard/entregas">Entregas</a>
            <ul class="submenu">
                <li class="submenu-item">Sub Opción 3.1</li>
                <li class="submenu-item">Sub Opción 3.2</li>
            </ul>
        </li>
        <li class="menu-item" href="#">
            <a href="/dashboard/cambios">Cambios</a>
            <ul class="submenu">
                <li class="submenu-item">Sub Opción 4.1</li>
                <li class="submenu-item">Sub Opción 4.2</li>
            </ul>
        </li>
        <li class="menu-item" href="#">
            <a href="{% url 'ver_admins' %}">Administradores</a>
            <ul class="submenu">
                <li class="submenu-item">Sub Opción 4.1</li>
                <li class="submenu-item">Sub Opción 4.2</li>
            </ul>
        </li>
    </ul>
</div>
