<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
</head>
<body>
    <div class="row">
        <p><h1>Subir actividades</h1></p>
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h3>Seleccione activiada para subir</h3>
                <select name="numero_actividad">
                    <option value="selecionar" selected>Seleccionar actividad</option>
                    <option value="act1">1</option>
                    <option value="act1">2</option>
                    <option value="act1">3</option>
                    <option value="act1">4</option>
                </select>
            </div>
                {{ form.as_p}}
            <button type="submit">Subir</button>
    
        </form>
    </div>

</body>
</html>