{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Administradores</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles2.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="card shadow mb4">
                <div class="card-body">
                    <h3>Admin login</h3>
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.nombre.id_for_label }}">Username</label>    
                        {{ form.nombre }}
                    </div>
            
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.contrasenia.id_for_label }}">Password</label>       
                        {{ form.contrasenia }}
                    </div>
                    <button type="submit"> Crear </button>                   
                </div>
            </div>
        </div>

    </form>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>