<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="card shadow mb4">
                <div class="card-body">
                    <h3>Admin login</h3>
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.nombre.id_for_label }}">Username</label>    
                        {{ form.nombre }}
                    </div>
            
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.nombre.id_for_label }}">Password</label>       
                        {{ form.contrasenia }}
                    </div>
                    <button type="submit"> Crear </button>                   
                </div>
            </div>
        </div>

    </form>
</body>
</html>