{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not found </title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Navegación -->
    <nav>
        <div id="logo">
            <a href="{% url 'index' %}"><img src="{% static 'img/IFT.png' %}" alt="Logo"></a>
        </div>
    </nav>

    <!-- Hero -->
    <section id="hero">
        <div class="hero-text">
            <h1>404 Not Found</h1>
            <p> Lo sentimos pero la página que esta buscando no esta disponible </p>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Todos los derechos reservados.</p>
    </footer>
</body>
</html>

