{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuarios</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles2.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="card shadow mb4">
                <div class="card-body">
                    <h3>Creación de usuario</h3>
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.nombre.id_for_label }}">Nombre: </label>    
                        {{ form.nombre }}
                    </div>
            
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.contrasenia.id_for_label }}">Contraseña: </label>       
                        {{ form.contrasenia }}
                    </div>   

                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.email.id_for_label }}">Email: </label>       
                        {{ form.email }}
                    </div>

                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.avance.id_for_label }}">Avance: </label>       
                        {{ form.avance }}
                    </div>
                    
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.genero.id_for_label }}">Género: </label>       
                        {{ form.genero }}
                    </div>

                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.edad.id_for_label }}">Edad: </label>       
                        {{ form.edad }}
                    </div>

                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.pais.id_for_label }}">País: </label>       
                        {{ form.pais }}
                    </div>

                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.institucion.id_for_label }}">Institución: </label>       
                        {{ form.institucion }}
                    </div>

                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.grado.id_for_label }}">Grado: </label>       
                        {{ form.grado }}
                    </div>

                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.diciplina.id_for_label }}">Disciplina: </label>       
                        {{ form.diciplina }}
                    </div>

                    <button type="submit"> Crear </button>                   
                </div>
            </div>
        </div>

    </form>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>