{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles2.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    

    <div class="dashboard">
        {% include 'sidebar.html' %}

        {% include 'topbar.html' %}
    </div>
    
    <div class="tablas_main">
        <div class="fondo_tablas">

            <!--Lista de usuarios-->
            <div class="lista_usuarios">
                <h1> Datos del Usuario</h1>
                <table>
                    <thead>
                        <th>Nombre </th>
                        <th>Contraseña </th>
                        <th>Email </th>
                        <th>Avance </th>
                        <th>Genero </th>
                        <th>Edad </th>
                        <th>País </th>
                        <th>Institución </th>
                        <th>Grado  </th>
                        <th>Disciplina  </th>

                    </thead>
                    <tbody>

                        <tr>
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.contrasenia}}</td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.avance}}</td>
                            <td>{{usuario.genero}}</td>
                            <td>{{usuario.edad}}</td>
                            <td>{{usuario.pais}}</td>
                            <td>{{usuario.institucion}}</td>
                            <td>{{usuario.grado}}</td>
                            <td>{{usuario.diciplina}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>


    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>




