{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/styles2.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    
    <div class="dashboard">

        <!--Busqueda-->
        <form method="GET">
            <div>
                <input type="text" name="busueda" placeholder="Buscar">
                <div>
                    <button type="submit">Buscar</button>
                </div>
                {% if filtro %}
                <a href="{% url 'ver_usuarios' %}"><i>Deshacer</i></a>
                {% endif %}
            </div>
        </form>

        <!--Lista de usuarios-->
        <div>
            <h1> Lista de Usuarios</h1>
            <table>
                <thead>
                    <th>Nombre </th>
                    <th>Contraseña </th>
                    <th>Email </th>
                    <th>Genero </th>
                    <th>Edad </th>
                    <th>País </th>
                    <th>Intención </th>
                    <th>Grado  </th>
                    <th>Disciplina  </th>

                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.contrasenia}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.avance}}</td>
                        <td>{{usuario.genero}}</td>
                        <td>{{usuario.edad}}</td>
                        <td>{{usuario.pais}}</td>
                        <td>{{usuario.institucion}}</td>
                        <td>{{usuario.grado}}</td>
                        <td>{{usuario.diciplina}}</td>
                        <td>
                            <a href="{% url 'actualizar_usuario' pk=usuario.usuarioID %}">Editar</a>
                            <a>Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>




